body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#e6e6e6;
}

/* HEADER */
header{
    background: linear-gradient(to right, #e6a67a, #d8895a);
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 20px;
}

.logo img{
    height:70px;
}

nav a{
    margin:0 15px;
    text-decoration:none;
    color:#2e5c2e;
    font-weight:bold;
}

nav a:hover{
    text-decoration:underline;
}

.user{
    font-weight:bold;
    cursor:pointer;
}

/* TITULO */
.titulo{
    text-align:center;
    color:#6b7b2c;
    margin:20px 0;
}

.resultados{
    background:#d8c6a3;
    width:60%;
    margin:auto;
    padding:10px;
    border-radius:8px;
    font-weight:bold;
}

/* PRODUCTOS */
.container{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:20px;
}

.card{
    background:#d8c6a3;
    padding:20px;
    border-radius:8px;
    text-align:center;
    width:200px;
}

.card img{
    width:150px;
    height:150px;
    border-radius:50%;
}

.precio{
    font-weight:bold;
    margin:10px 0;
}

/* CONTADOR */
.contador{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:5px;
}

.contador button{
    width:30px;
    height:30px;
    font-weight:bold;
}

/* BOTON */
.agregar{
    margin-top:10px;
    background:#7ed957;
    border:none;
    padding:5px 10px;
    font-weight:bold;
    cursor:pointer;
}

/* MODAL */
.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    justify-content:center;
    align-items:center;
}

.modal-content{
    background:white;
    padding:20px;
    border-radius:10px;
    width:300px;
}

.modal input{
    width:100%;
    margin:5px 0;
    padding:8px;
}

.modal button{
    margin-top:10px;
    width:100%;
}
