  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Winky Rough", sans-serif;
}

.hero {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("imagen-fondo.jpg");
  background-size: cover;
  background-position: center;
}

.logo{
  width: 120px;
  height: auto;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 10;
  transition: 0.4s;
}

.nav-links{
  display: flex;
  list-style: none;
  gap: 30px;
}



.layout{
  width: 100%;
  height: auto;
  padding: 60px 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;
  flex-wrap: wrap;
}

.carrusel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: auto;
  max-height: auto;
  gap: 60px;
  padding: 0 2rem;
  margin: 0 auto;
}

.carrusel-item {
  display: none;
  text-align: right;
}

.carrusel-item.active {
  display: block;
}

.carrusel-item img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}


.carrusel img {
  width: 100%;
  max-height: 400px; 
  object-fit: cover; 
}

.texto {
  margin-top: -0px;
  text-align: left;
  flex: 1;
  color: #3b7a04;
}

.imagen {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.texto h2 {
  font-family: "Lobster Two", sans-serif;
  font-size: clamp(28px, 3vw, 40px);
  margin-bottom: 20px;
  color: #916625;
}
.texto p {
  font-family: "Lobster Two", sans-serif;
  font-size: clamp(16px, 1.5vw, 22px);
  line-height: 1.5;
  color: #5d825a;
}

.foto {
  margin-top: 50px;
  width: 450px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 1s ease;
}

.visible {
  opacity: 1;
}


.whatsapp-float{
  position: fixed;
  left: 22px;
  bottom: 22px;

  display: flex;
  align-items: center;
  gap: 12px;

  text-decoration: none;
  color: #3b7a04;
  font-weight: 900;
  font-size: 15px;
}

.whatsapp-float img{
  height: 50px;
  width: auto;
}


@media (max-width: 900px){
  .imagen{
    flex: 1;
    height: 260px;
  }
}

.favoritos{
  font-family: "Lobster Two", sans-serif;
  font-size: xx-large;
  color: #046016;
  background: #faf5f5;
  padding: 40px 20px;
  width: 100%;
  margin: 0 auto;
}

.productos{
  
  padding: 100px 20px 70px;
  margin: 0 auto;
  padding: 40px 60px 70px;
}

.productos h2{
  color: #3b7a04;
  font-size: clamp(26px, 3vw, 36px);
  margin-bottom: 18px;
}

.grid-productos{
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}

.card{
  position: relative;
  margin-top: 100px;
  background: rgb(255, 255, 255);
  border-radius: 18px;
  padding: 60px;
  box-shadow: 0 14px 35px rgba(0,0,0,0.10);
}

.card h3{
  font-size: x-large;
  font-family: "Lobster Two", sans-serif;
  color: #5e7740;
  margin-bottom: 8px;
  
}

.card p{
  font-family: "Lobster Two", sans-serif;
  color: #333;
  line-height: 1.35;
  margin-bottom: 10px;
  font-weight: 900;
}

.precio{
  font-family: "Lobster Two", sans-serif;
  display: inline-block;
  font-weight: 900;
  color: #ea8f24;
}

/* Responsive */
@media (max-width: 1000px){
  .grid-productos{ grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 520px){
  .grid-productos{ grid-template-columns: 1fr; }
}

.footer{
  background: #f3f3f3;
  padding: 20px;
  text-align: center;
  color: #444;
  font-weight: 700;
}



.card:hover{
  transform: scale(1.2);
  transition: all 0.5s ease;
}

